<div class="panel panel-default" ng-init="showStudent()">
	<div class="panel-heading">
	  <p class="panel-title"><span style="color:#5bc0de;" 
class="glyphicon glyphicon-edit"> </span> Edit Student</p>
	</div>
	<div class="panel-body">
		<form ng-submit="updateStudent()">

    <div class="form-group">
      <label for="usn">USN:</label>
      <input type="text" class="form-control" id="name" ng-model="student.usn" value="student.usn">
    </div>

    <div class="form-group">
      <label for="name">Name:</label>
      <input type="text" class="form-control" id="name" value="student.name" ng-model="student.name">
    </div>

    <div class="form-group">
      <label for="sex">Sex:</label>
      <input type="text" class="form-control" id="sex" value="student.sex" ng-model="student.sex">
    </div>

    <div class="form-group">
      <label for="dept">Department:</label>
      <input type="text" class="form-control" id="dept" ng-model="student.dept" value="student.dept">
    </div>

    <div class="form-group">
        <label for="sem">Semester:</label>
        <input type="text" class="form-control" id="semester" value="student.semester" ng-model="student.semester">
    </div>

    <div class="form-group">
      <label for="col">College:</label>
      <input type="text" class="form-control" id="college" value="student.college" ng-model="student.college">
    </div>
    
    <div class="form-group">
      <label for="contact">Contact No. :</label>
      <input type="text" class="form-control" id="contact" value="student.contact" ng-model="student.contact">
    </div>
    <button type="submit" style="color:#5bc0de;" class="btn btn-default">Update</button>
    <a href="#/students" class="btn btn-default"> Cancel</a>
</form>		
    <div>
<div>
