<div class="panel panel-default" ng-init="showStudent()">
	<div class="panel-heading">
	  <p class="panel-title"> Student Detail Information</p>
	</div>
	<div class="panel-body">
		<form>
		<div class="form-group">
		 <label class="form-control">USN: {{ student.usn }}</label>
		 <label class="form-control">Name: {{ student.name }}</label>
		 <label class="form-control">Sex: {{ student.sex }}</label>
		 <label class="form-control">Department: {{ student.dept }}</label>
		 <label class="form-control">Semester: {{ student.semester }}</label>
		 <label class="form-control">College: {{ student.college }}</label>
		 <label class="form-control">Contact: {{ student.contact }}</label>
		<a href="#/students" class="btn btn-default"> Cancel</a>
		</div>
	</form>		
    <div>
<div>